{
   "parser": "babel-eslint",
   "env": {
      "browser": true,
      "node": true,
      "es6": true
   },
   "plugins": [
      "react"
   ],
   "ecmaFeatures": {
      "jsx": true
   },
   "rules": {
      "strict": 0,
      "no-var": 2,
      "object-shorthand": 2,
      "quotes": [2, "single"],
      "no-underscore-dangle": 0,
      "no-use-before-define": [2, "nofunc"],
      "react/jsx-boolean-value": 2,
      "react/jsx-no-undef": 2,
      "react/jsx-quotes": [2, "double"],
      "react/jsx-uses-vars": 2,
      "react/no-did-mount-set-state": 2,
      "react/no-did-update-set-state": 2,
      "react/no-unknown-property": 2,
      "react/react-in-jsx-scope": 2,
      "react/self-closing-comp": 2,
   },
   "globals": {
      "DEBUG": true,
      "React": true,
      "_": true,
      "cx": true
   }
}
