/* Generic styles
 *
 * Import other files if needed
 *    @import vars
 *    @import mixins
 */

// Import fonts
@import fonts


*
   box-sizing: border-box


html, body, #main
   min-height: 100%
   height: 100%
