/* Component-specific styles
 *
 * Import other files if needed
 *    @import styles/mixins
 */

@import styles/vars

.App
   width: $width
   height: $height

.AppName
   color: $bgColor
   background: invert($bgColor)
